body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
}


.texto1, .texto2, .texto3{
    width: 600px;
    text-align: justify;
    background-color: gray;
}

.texto1{
    box-sizing: content-box;
    border: 20px solid darkblue;
    padding: 60px;
}

.texto2{
    box-sizing: border-box;
    border: 20px solid  orange;
    padding: 60px;
}

.texto3{
    background-color: green;
    height: 30px;
}

p{
    margin:10px;
}

