body {
  font-size: 24px;
  text-align: left;
}

h1 {
  margin: 0;
}
article {
  background-color: gray;
  text-align: justify;
}
.coluna1,
.coluna2 {
  background-color: orange;
}

.coluna1 {
  float: left;
  width: 25%;
}
.coluna2 {
  float: right;
  width: 74%;
}

div {
  text-align: center;
  background-color: aqua;
  clear: both;
}
